In [90]:
import pandas as pd
import numpy as np
import seaborn as sns

In [62]:
from scipy.stats import kurtosis, skew

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [64]:
storm = pd.read_csv("D:\Badal's ML DL Datasets\Atlantic Storms.csv")
storm.head(3)

,Year,Storm Name,Start Date,End Date,Dates,Max Wind Speed (mph),Min pressure (mb),Storm Type,Retired?
0,1950,HOW,01-10-1950,04-10-1950,10/1 - 10/4,46,NaN,Tropical Storm,No
1,1950,MIKE,25-10-1950,28-10-1950,10/25 - 10/28,46,NaN,Tropical Storm,No
2,1950,LOVE,18-10-1950,22-10-1950,10/18 - 10/22,81,987.0,Hurricane,No

In [65]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
storm['Storm Type'] = labelencoder.fit_transform(storm['Storm Type'])
storm.head(3)

,Year,Storm Name,Start Date,End Date,Dates,Max Wind Speed (mph),Min pressure (mb),Storm Type,Retired?
0,1950,HOW,01-10-1950,04-10-1950,10/1 - 10/4,46,NaN,6,No
1,1950,MIKE,25-10-1950,28-10-1950,10/25 - 10/28,46,NaN,6,No
2,1950,LOVE,18-10-1950,22-10-1950,10/18 - 10/22,81,987.0,1,No

In [66]:
storm.isnull().sum()

Year                     0
Storm Name               0
Start Date               0
End Date                 0
Dates                    0
Max Wind Speed (mph)     0
Min pressure (mb)       11
Storm Type               0
Retired?                 0
dtype: int64

In [67]:
storm=storm.drop(['Retired?'], axis = 1)

In [68]:
storm.dropna(inplace=True)
storm.isnull().sum()

Year                    0
Storm Name              0
Start Date              0
End Date                0
Dates                   0
Max Wind Speed (mph)    0
Min pressure (mb)       0
Storm Type              0
dtype: int64

In [72]:
storm.head(3)

,Year,Storm Name,Start Date,End Date,Dates,Max Wind Speed (mph),Min pressure (mb),Storm Type
2,1950,LOVE,18-10-1950,22-10-1950,10/18 - 10/22,81,987.0,1
3,1950,BAKER,18-08-1950,01-09-1950,8/18 - 9/1,90,979.0,1
4,1950,ITEM,08-10-1950,11-10-1950,10/8 - 10/11,90,980.0,1

In [69]:
X = pd.concat([storm['Max Wind Speed (mph)'], storm['Min pressure (mb)'] ], axis=1, join='inner')
X.head(3)

   Max Wind Speed (mph)  Min pressure (mb)
2                    81              987.0
3                    90              979.0
4                    90              980.0

In [70]:
Y = storm['Storm Type']
Y.head(3)

2    1
3    1
4    1
Name: Storm Type, dtype: int32

In [71]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, random_state =0)

In [73]:
x_train.shape

(612, 2)

In [74]:
y_train.shape

(612,)

In [75]:
x_test.shape

(204, 2)

In [76]:
y_test.shape

(204,)

In [77]:
model =LinearRegression()

In [78]:
model.fit(x_train, y_train)

LinearRegression()

In [80]:
y_pred = model.predict(x_test)

In [82]:
model.score(x_train, y_train)

0.594171536007728

In [84]:
model.coef_

array([-0.08144085, -0.02483885])

In [86]:
model.intercept_

33.64420413322785

In [88]:
rmse = sqrt(mean_squared_error(y_test, y_pred))
rmse

1.4816799765385753